<?xml version="1.0" encoding="UTF-8"?>
<suite name="GreenKart Test Suite" parallel="classes" thread-count="4">
	<listeners>
	    <listener class-name="com.vilayat.listeners.TestListener"/>
	</listeners>
    <test name="GreenKart Tests">
        <classes>
            <class name="com.vilayat.tests.E2EShoppingTest"/>
            <class name="com.vilayat.tests.PromoCodeTest"/>
            <class name="com.vilayat.tests.SearchProductTest"/>
        </classes>
    </test>
</suite>